*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
.content {
    background-color:#3c8dbc;
}
.content header{
    /* border-bottom:1px solid #000 ; */
    padding-top: 10px ;
}
.content .col{
    width: 100%;
    height: 45px;
    border:none;
    outline: none;
    position: relative;
    text-align: center;
}
/* .content .col:nth-child(1){
    padding-top: 13px;
    background-color:#3c8dbc;
}
.content .col:nth-child(2){
    background-color: #3c8dbc;
} */
.col .heleft {
    color: #fff;
}
.content .bar_left{
    height: 100%;
}
.content .navigation{
    background-color: #2c3b41;
    height: auto;
    text-align: start;
    padding-left: 10px;
}
.content .container{
    background-color: #d2d6de;
    height: auto;
}
.table_left{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.table_left a{
    display: block;
    width: 100%;
    padding: 10px 0;
    height: 45px;
    font-weight: 500;
    color: #fff;
}
.table_left a:hover{
    background-color: #eee;
    color: #000;
}
.content_right{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 46px;
    background-color: #d2d6de;
    width: 100%;
    height: 500px;
}

.heright .heder_user{
    padding: 0px 50px 5px 0;
    float: right;
    display: flex;
    position: relative;
}
.heder_user img{
    background-color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.heder_user_table img{
    background-color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 14px;
    float: left;
}
.heder_user_table{
    padding: 20px 0 0 100px;
    width: 250px;
    margin:-10px 0 10px -50px;
    color: #fff;
}

.heright .heder_user span{
    position: relative;
}
.menu_user{
    position: absolute;
    box-shadow: 0 0 4px gray;
    background-color: #000;
    z-index: 99;
    padding: 6px;
    left: -220px;
    display: none;
    top: 45px; 
}
.menu_user ul {
    display: flex;
    flex-direction: column ;
    padding: 6px;
}

.menu_user a{
    padding: 10px;
    width: 180px;
    text-align: center;
    color: #fff;
    
}
.menu_user a:hover{
    background-color: #4d526c;
    color: #000;
}

