body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

:root{
    --color_header: #3b3939;
    --color_textNav: white;

}

.fronText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

#header{
    align-items:center;
    background-color:var(--color_header);
    font-size:12px;
    position: fixed;
    z-index: 999;
    height: 85px;
}

.menu {
    align-items:center;
}
.logo img{
    height:70px;
   
    width: 120px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.menu_nav{
    list-style: none;
    align-items: center;

}
.menu_nav a{
    font-size:16px;
    font-weight:600;
    letter-spacing:2px;
    padding:4px 10px;
    text-decoration: none;
    color:white;
}
#menu_nav,#logo_header{
    background-color: var(--color_header);
}
.menu_nav a:hover{
    color: #ffa51e;
}

#header .menu .menu__sub{
    color: aliceblue;
    font-size: 18px;
}
#header .menu .menu__sub .menu__sub-icon{
    cursor: pointer;
}
/* ============================================== Container============================================ */

/* .slider {
max-width: 1000px;
margin: 25px auto;
position: relative;
} */
.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    height: 50px;
    margin: 0 40px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}
.slider-next {
    right: -25px;
}
.slider-prev {
    left: -25px;
}
.slider-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    height: 100%;
}
.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}
.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* ==================================Booking ====================== */

.booking{
    /* display: flex; */
    width: 100%;
    margin-top: -5px;
    background-color: #efeee9;
}
.row_booking{
    width: 100%;
}
.one_item{
    padding: 45px;
}
.tab_main{
    display: flex;
    align-items: center;
    
    border-bottom: 2px solid #d69c2f;

}
.tab_main a{
    font-size: 16px;
    padding: 10px 25px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: #d69c2f;
}
.form_group>input{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-top:10px;
}
.form_group #submit_datphong{
    background: #d69c2f;
    margin: 17px 0 0 0;
    border: 1px solid #efeee9;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
}
.form_group .starRed{
    color: red;
}
#select_from{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
#textarea_fromG{
    max-width: 350px;
    width: 350px;
    height: 100px;
}
/* ================================= warp card============================== */
.intro_branch{
    height: auto;
    
}
.warpCard 
{
    height: auto;
    border: 1px dotted #d69c2f;
    padding: 0;
    border-radius: 5% 0% 5% 0%;
}
.warpCard .card_img{

    border-radius: 5% 0% 0% 0%;
    overflow: hidden;
}
.warpCard .card_img img{

    transition: all .5s ease-in-out;

}
.warpCard .card_img:hover img{
    opacity: 0.7;
    transform: scale(1.1);
}
.warpCard .card_title {
    background-color:#d69c2f ;
}
.warpCard .card_title a{
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-align: start;
}
.warpCard .card_title {
    padding: 0 10px;
    text-align: start;
}
.warpCard .card_body{
    padding: 0 10px;
    text-align: start;
    font-size: 14px;
}
.warpCard .card_body .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80px;
    background-color:#d69c2f ;
    border-radius: 30px;
    margin-bottom: 10px;
}
.btn.btn1{
    border-radius: 18px 0 18px 0 !important;
}
.warpCard .card_body .btn a{
    color: white;
}
/*============================================ hotel-highlights */

.hotel-highlights{
    height: auto;
    background-color: #efeee9;
    padding: 40xp 0;
}