*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
.content {
    border-bottom:1px solid #000 ;
    margin: 0;
}

.content .col{
    width: 100%;
    height: 45px;
    border:none;
    outline: none;
    position: relative;
    text-align: center;
}
.content .col:nth-child(1){
    padding-top: 13px;
    background-color:#3c8dbc;
}
.content .col:nth-child(2){
    background-color: #3c8dbc;

   
}
.col .heleft a{
    color: #fff;
    font-weight: 600;
}
.table_left{
    position: absolute;
    top:0;
    left: 0;
    margin-top: 46px;
    background-color: #2c3b41;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.table_left a{
    display: block;
    width: 213px;
    padding: 10px 0;
    height: 45px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.table_left  a{
    color: #fff;
}
.table_left li a:hover{
    background-color: #5385ac;
    color: #000;
    
}
.table_left ul li{
    list-style: none;
    
}
#myList .li_mylist a.active{
    background-color: #eee;
    color: #000;
}

#myList .li_mylist a.active::before{
    position: absolute;
    content: "";
    /* z-index: 99; */
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #3c8dbc;
}
.content_right{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 46px;
    background-color: #d2d6de;
    width: 100%;
    min-height: 500px;
    height: auto;
}

.heright .heder_user{
    padding: 5px 50px 5px 0;
    float: right;
    display: flex;
    position: relative;
}
.heder_user img{
    background-color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.heder_user_table img{
    background-color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 14px;
    float: left;

}
.heder_user_table{
    padding: 20px 0 0 100px;
    width: 250px;
    margin:-10px 0 10px -50px;
    color: #fff;
}

.heright .heder_user span{
    position: relative;
}
.menu_user{
    position: absolute;
    box-shadow: 0 0 4px gray;
    background-color: #000;
    z-index: 99;
    padding: 6px;
    left: -220px;
    display: none;
    top: 45px; 
}
.menu_user ul {
    display: flex;
    flex-direction: column ;
    padding: 6px;
}

.menu_user a{
    padding: 10px;
    width: 180px;
    text-align: center;
    color: #fff;
    position: relative;
    
}

.menu_user a:hover{
    background-color: #4d526c;
    color: #000;
}

