body{
    padding: 0;
    margin: 0;
}
#header{
    top: 0;
    align-items:center;
    background-color:#000000;
    display:flex;
    position: fixed;
    font-size:12px;
    padding:0px 45px;   
    width: 100%;
    height: 85px;
    z-index: 999;
}
.menu {
    display: flex;
    align-items:center;
}
.logo{
    margin-left: 35px;
   
}
.logo img{
    
    height: 83px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.menu_nav{
    list-style: none;
    font-size:14px;
    align-items: center;
    display: flex; 
}
.menu_nav a{
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
    padding:4.8px 12px;
    text-decoration: none;
    color:#e8e6e3;
}
.menu_nav a:hover{
    color: #ffa51e;
}

