*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.header{
    height: 50px;
    background-color:#3c8dbc;
}
.header .tasbars{
    padding: 5px;
}
.header .logo {
  
    margin: 10px;

}
.header .logo a{
    color: white;
    text-decoration: none;
    
}
.header_main{
    position: absolute;
    right: 10px;
}
.header_main .menu_user{
    position: absolute;
    right: 10px;
    width: 200px;
    background-color: #554040;
    top:45px;
    display: none;
    z-index: 99;
}
.header_main .menu_user a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.header_main .menu_user a:hover{
    background-color: #4d526c;
    color: black;
}
.body .container {
    background-color: #d2d6de;
    min-height: 500px;
    height: auto;
}
.body .navigation {
    background-color: #2c3b41;
    color: gray;
    margin-top: 2px;
}
.body .navigation .avatar{
    position: relative;
    width: 250px;
    padding: 20px 0 10px 20px;
}
.body .navigation .avatar span{
    position: absolute;
    color: white;
    top: 27px;
    left: 70px;
    font-size: 20px;
}
.body .navigation .avatar img,
.header .header_main .header_user img{
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

.body .navigation .avatar span{
    position: absolute;
    color: white;
    top: 27px;
    left: 70px;
    font-size: 20px;
}
.li_mylist {
    /* background-color: #3c8dbc; */
    padding: 15px;
    display: flex;
    flex-direction: column;
}
#myList a{
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 45px;
}

#myList a:hover{
    background-color: #6fadd2;
    color: #fff;
  
}
#myList a.active {
    background-color: #fff;
    color: #000;
    position: relative;
    border-left: 5px solid #3c8dbc;
}
